[Unit]
Description=Feel@Home Server
Requires=network.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/feel-at-home-server -config=/etc/feel-at-home-server/config.json
User=http
Restart=always

[Install]
WantedBy=multi-user.target
